/linx.version
/sample1.linx.germline.breakend.tsv
/sample1.linx.germline.clusters.tsv
/sample1.linx.germline.driver.catalog.tsv
/sample1.linx.germline.links.tsv
/sample1.linx.germline.svs.tsv
/sample1.linx.germline.disruption.tsv
