/sample1.esvee.alignment.tsv
/sample1.esvee.assembly.tsv
/sample1.esvee.breakend.tsv
/sample1.esvee.phased_assembly.tsv
/sample1.esvee.prep.disc_stats.tsv
/sample1.esvee.prep.fragment_length.tsv
/sample1.esvee.prep.junction.tsv
