/sample1.bam_metric.coverage.tsv
/sample1.bam_metric.exon_medians.tsv
/sample1.bam_metric.flag_counts.tsv
/sample1.bam_metric.frag_length.tsv
/sample1.bam_metric.gene_coverage.tsv
/sample1.bam_metric.partition_stats.tsv
/sample1.bam_metric.summary.tsv
/sample1.wgsmetrics
