/linx.version
/sample1.linx.breakend.tsv
/sample1.linx.clusters.tsv
/sample1.linx.driver.catalog.tsv
/sample1.linx.drivers.tsv
/sample1.linx.fusion.tsv
/sample1.linx.links.tsv
/sample1.linx.svs.tsv
/sample1.linx.vis_copy_number.tsv
/sample1.linx.vis_fusion.tsv
/sample1.linx.vis_gene_exon.tsv
/sample1.linx.vis_protein_domain.tsv
/sample1.linx.vis_segments.tsv
/sample1.linx.vis_sv_data.tsv
/sample1.linx.neoepitope.tsv
